extends layout

block content
	main
		div#cart
		div#content
			ul#items
				each item in menuItems
					li(data-id="#{item.id}")
						article
							header
								figure
									img(src="images/#{item.name.toLowerCase().replace(/ /g, '-')}.jpg" alt="menu-item")
								h2.name=item.name
							p.price='$' + item.price.toFixed(2)
							footer
								a.add_cart(href="#") Add to cart

