include /_mixins

doctype html
html
	head
		title Sushi Restaurant Website
		link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous")
		//- link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel="stylesheet" href="stylesheets/main.css")
		+javascript_include_tag('vendor/all')
		+javascript_include_tag('handlebars_templates')
	body
		header
			a.logo(href="/")
				img(src="images/logo.png" alt="logo")
			div.cart
		main
			div#cart
			div#content
				block content
				ul#items
				div#item_details
				div#checkout

		+javascript_include_tag("application")
		+javascript_include_tag("models/menu_item")
		+javascript_include_tag("collections/cart", "collections/menu")
		+javascript_include_tag("views/cart", "views/menu", "views/item_view", "views/checkout")
		+javascript_include_tag("menu_items")
		script(type="text/javascript").
			App.init();
