<div class="img_top"></div>
<section>
	<h1>Payment</h1>
	<form action="/orders" method="post" id="user_info">

		<fieldset id="contact">
			<label for="name_first">First Name</label>
			<input type="text" id="first" name="first">
			<label for="name_last">Last Name</label>
			<input type="text" id="name_last" name="last">
			<label for="phone">Phone Number</label>
			<input type="tel" id="phone" name="phone">
			<label for="email">Email</label>
			<input type="email" id="email" name="email">
		</fieldset>

		<fieldset id="del_address">
			<label for="delivAddr">Delivery Address</label>
			<input type="text" id="delAdd" name="delAdd">
			<label for="delivCity">City</label>
			<input type="text" id="delCity" name="delCity">
			<label for="delivState">State</label>
			<input type="text" id="delState" name="delState">
			<label for="delivZip">Zip</label>
			<input type="text" id="delZip" name="delZip">
		</fieldset>

		<fieldset id="pay_address">
			<label><input type="checkbox">use delivery address</label>
			<label for="billAdd">Billing Address</label>
			<input type="text" id="billAdd" name="billAdd">
			<label for="billCity">City</label>
			<input type="text" id="billCity" name="billCity">
			<label for="billState">State</label>
			<input type="text" id="billState" name="billState">
			<label for="billZip">Zip</label>
			<input type="text" id="billZip" name="billZip">
		</fieldset>

		<fieldset id="credit_card">
			<label for="ccNum">Credit Cart Number
				<input type="number" id="ccNum" max="9999999999999999" name="ccNum">
			</label>
			<label for="ccExp">Exp.
				<div>
					<select name="ccMonth">
						<option value="1">01</option>
						<option value="2">02</option>
						<option value="3">03</option>
						<option value="4">04</option>
						<option value="5">05</option>
						<option value="6">06</option>
						<option value="7">07</option>
						<option value="8">08</option>
						<option value="9">09</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option> 
					</select> / 
					<select name="ccYear">
						<option value="1">17</option>
	          <option value="2">18</option>
	          <option value="3">19</option>
	          <option value="4">20</option>
	          <option value="5">21</option>
	          <option value="6">22</option>
	          <option value="7">23</option>
	          <option value="8">24</option>
	          <option value="9">25</option>
	          <option value="10">26</option>
	          <option value="11">27</option>
     			</select>
				</div>
			</label>
			<label for="CVV">CVV
				<input type="number" id="CVV" name="CVV" max="999">
			</label>
		</fieldset>
		<div style="display: none">
			<input type="text" name="total" value="${{formatPrice total}}">
			<input type="text" name="items" value="{{items}}">
		</div>

		<footer>
			Charge:<a href="/" class="total">${{formatPrice total}}</a>
			<input type="submit" class="submit" value="Get Sushi!">
		</footer>
	</form>
</section>
<div class="img_bottom"></div>
